.mainbody{
    background-image: url('https://img.freepik.com/free-photo/red-black-brush-stroke-banner-background-perfect-canva_1361-3597.jpg?w=1060&t=st=1673682901~exp=1673683501~hmac=b8a2121efaea79fa8ab7ec614e2e1fd7aa77835df4d47c39282e582c06181547');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 84.3vh;
}